@import "~bootstrap/scss/bootstrap.scss";

html{
  padding: 40px;
  width: 170px;
  height: 100%;
  margin: 0 auto;
}

.trafficlight{
  background: #222;
  width: 170px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  border: solid 5px #333;
}


.red{
  background: red;
  background-size: 5px 5px; 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 35px;
  
}

.yellow{
  background: yellow;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 35px;
  
}

.green{
  background: green;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 35px;
  
}


.glow{
    box-shadow: #ffffff 0px 0px 50px 20px;
}    